:host {
  --ion-background-color: #f4f4f4;
  display: block;
}

ion-header {
  --background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  ion-toolbar {
    --color: #222;
    font-weight: 600;
    padding-inline: 16px;
  }
}

ion-menu {
  --background: #333;
  /* cinza escuro */
  color: #fff;
  /* textos brancos */
}

ion-header,
ion-toolbar,
ion-content,
ion-list,
ion-item,
ion-label {
  background-color: transparent;
  /* herda o cinza do menu */
  color: #000 !important;
  /* garante o texto branco */
}

ion-item {
  --background: transparent;
  --color: #fff;
}

ion-menu::part(backdrop) {
  background: rgba(0, 0, 0, 0.4);
  /* fundo escurecido ao abrir */
}

ion-menu-button {
  font-size: 2rem;
  color: #fff;
}

ion-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

ion-content {
  --padding-top: 16px;
  --padding-bottom: 90px;
}

h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
  margin: 16px;
  text-align: center;
}


.grid-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

ion-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.01);
  }

  ion-img {
    height: 200px;
    object-fit: contain;
    background: #fff;
  }

  ion-card-header {
    background: #fff;

    ion-card-title {
      font-size: 1.1rem;
      color: #333;
      font-weight: 600;
      min-height: 40px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }
  }

  ion-card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.95rem;
    color: #555;
    height: 120px;
    overflow: hidden;

    p {
      margin: 6px 0;
    }

    p strong {
      color: #fff;
      font-size: 1.3rem;
      font-weight: 600;
    }

    .descricao-limitada {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }

    ion-button {
      margin-top: 12px;
    }
  }
}